<section class="skills" id="hardSkills">
    <h2 class="heading" data-aos="fade-right">Hard skills</h2>
    <p class="heading-sub" data-aos="fade-left">
      Après l'obtention d'un Bac S option SVT en 2012, je me lance d'abord dans une année de Médecine, puis dans une licence de Chimie. C'est lors d'un cours d'informatique que je découvre le HTML et le CSS, et tout de suite je suis fascinée par tout ce qu'il est possible de faire avec juste un langage de balisage et de style. C'est ainsi que je commence à découvrir le joie du code.
    </p>
    
    <div class="skills-container" data-aos="fade-up">
      <div class="skill-box">
        <div class="skill-info effect-3d-filled">
          <h4>Langages</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam consequatur, nisi minus sequi odio soluta reprehenderit iusto at nemo id maiores excepturi accusantium quos nesciunt laudantium cum dignissimos velit consequuntur? Adipisci deleniti dolore asperiores quasi, molestias doloribus? Amet voluptatibus error natus harum fugit voluptatum omnis nisi nam deleniti id?</p>
        </div>
      </div>
      
      <div class="skill-box" data-aos="fade-up">
        <div class="skill-info effect-3d-filled">
          <h4>Framework/CMS</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam consequatur, nisi minus sequi odio soluta reprehenderit iusto at nemo id maiores excepturi accusantium quos nesciunt laudantium cum dignissimos velit consequuntur? Adipisci deleniti dolore asperiores quasi, molestias doloribus? Amet voluptatibus error natus harum fugit voluptatum omnis nisi nam deleniti id?</p>
        </div>
      </div>
      
      <div class="skill-box" data-aos="fade-up">
        <div class="skill-info effect-3d-filled">
          <h4>UX Design</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam consequatur, nisi minus sequi odio soluta reprehenderit iusto at nemo id maiores excepturi accusantium quos nesciunt laudantium cum dignissimos velit consequuntur? Adipisci deleniti dolore asperiores quasi, molestias doloribus? Amet voluptatibus error natus harum fugit voluptatum omnis nisi nam deleniti id?</p>
        </div>
      </div>
      
      <div class="skill-box" data-aos="fade-up">
        <div class="skill-info effect-3d-filled">
          <h4>Outils</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam consequatur, nisi minus sequi odio soluta reprehenderit iusto at nemo id maiores excepturi accusantium quos nesciunt laudantium cum dignissimos velit consequuntur? Adipisci deleniti dolore asperiores quasi, molestias doloribus? Amet voluptatibus error natus harum fugit voluptatum omnis nisi nam deleniti id?</p>
        </div>
      </div>
    </div>
    
  </section>
  