<section class="skills" id="hardSkills">
  <h2 class="heading" data-aos="fade-right">Compétences</h2>
  <p class="heading-sub" data-aos="fade-left">
    Passionnée par le code et toujours en veille technologique, je maîtrise les outils et langages essentiels pour concevoir et développer des applications performantes, intuitives et modernes. Mon objectif : créer des solutions web solides et sur mesure, de la conception à la mise en œuvre, pour répondre efficacement aux besoins numériques.
  </p>

  <h3>Langages</h3>
  <div class="skills-container">
    @for (langage of (langageSkills| async); track langage) {
      <div class="skill-item" data-aos="fade-left">
        <div class="img-container">
        <img [src]="'assets/logos/' + langage.icon + '.png'">
      </div>
        <div class="skill-text">
          <div class="skill-title">{{langage.title}}</div>
          <div class="skill-description">{{langage.description}}</div>
        </div>
      </div>
    }
  </div>

  <h3>frameworks</h3>
  <div class="skills-container">
    @for (framework of (frameworkSkills| async); track framework) {
      <div class="skill-item" data-aos="fade-right">
        <div class="img-container">
        <img [src]="'assets/logos/' + framework.icon + '.png'">
      </div>
        <div class="skill-text">
          <div class="skill-title">{{framework.title}}</div>
          <div class="skill-description">{{framework.description}}</div>
        </div>
      </div>
    }
  </div>

  <h3>UX/Design</h3>
  <div class="skills-container">
    @for (ux of (UXSkills| async); track ux) {
      <div class="skill-item" data-aos="fade-left">
        <div class="img-container">
        <img [src]="'assets/logos/' + ux.icon + '.png'">
      </div>
        <div class="skill-text">
          <div class="skill-title">{{ux.title}}</div>
          <div class="skill-description">{{ux.description}}</div>
        </div>
      </div>
    }
  </div>

  <h3>Outils</h3>
  <div class="skills-container">
    @for (tool of (toolSkills| async); track tool) {
      <div class="skill-item" data-aos="fade-right">
        <div class="img-container">
        <img [src]="'assets/logos/' + tool.icon + '.png'">
      </div>
        <div class="skill-text">
          <div class="skill-title">{{tool.title}}</div>
          <div class="skill-description">{{tool.description}}</div>
        </div>
      </div>
    }
  </div>
<!--  <div class="color-top"></div>-->
<!--  <div class="color-bottom"></div>-->
</section>
