<section class="contact" id="contact">
    <h2 class="heading" data-aos="fade-right">Contactez <span>Moi</span></h2>
    <p class="heading-sub" data-aos="fade-left">
      Après l'obtention d'un Bac S option SVT en 2012, je me lance d'abord dans une année de Médecine, puis dans une licence de Chimie. C'est lors d'un cours d'informatique que je découvre le HTML et le CSS, et tout de suite je suis fascinée par tout ce qu'il est possible de faire avec juste un langage de balisage et de style. C'est ainsi que je commence à découvrir le joie du code.
    </p>
    
    <form>
      <div class="input-group">
        <div class="input-box">
          <input type="text" placeholder="Nom et prénom">
          <input type="email" placeholder="Email">
          <input type="number" placeholder="Numéro de téléphone">
          <input type="text" placeholder="Sujet">
        </div>
      </div>
      <div class="input-group-2">
        <textarea name="" id="" cols="80" rows="15" placeholder="Message"></textarea>
        
        <input type="sumbit" value="Envoyer" class="effect-3d text-upper submit-btn">
      </div>
    </form>
  </section>
  