<section class="contacts" id="contact">
  <h2 class="heading" data-aos="fade-right">Contacts</h2>
  <p class="heading-sub" data-aos="fade-left">
    Je suis à la recherche de nouvelles opportunités : contactez-moi pour échanger sur vos projets et explorer comment je peux apporter mes compétences à votre équipe.
  </p>
  <div class="infos-container">
    <a href="tel:0683914171" target="_blank">
      <div class="infos-item">
        <i class='bx bxs-phone'></i>
        06.83.91.41.71
      </div>
    </a>
    
    <a href="mailto:mcjblanchet@yahoo.com" target="_blank">
      <div class="infos-item">
        <i class='bx bx-envelope' ></i>
        mcjblanchet&#64;yahoo.com
      </div>
    </a>
    
    <a href="www.linkedin.com/in/margaux-blanchet-developpeur-web" target="_blank">
      <div class="infos-item">
        <i class='bx bxl-linkedin-square' ></i>
        Margaux Blanchet
      </div>
    </a>
  </div>
</section>

