/* ==================================== */
/* ==============CONTACT=============== */
/* ==================================== */
section {
    padding: 15rem 23% 1rem;
}

h3 {
    margin-top: 8rem;
    margin-bottom: 32px;
    margin-left: 2rem;
    font-size: 2.3em;
}

.infos-container {
    margin-top: 10vh;
    border-radius: 32px;
    padding: 5rem;
    
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    a{color: white;}
    
    
    .infos-item {
        background-color: rgba(39, 39, 42,0.50);
        padding: 5rem;
        border-radius: 16px;
        cursor: pointer;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        
        i {
            margin-right: 8px;
            font-size: 24px;
        }
    }
}


@media only screen and (max-width : 970px) {
    section {
        padding: 13rem 12% 1rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    a{width: 100%;}
    
    .infos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        width: 100%;

        
        .infos-item {
            width: 100%;
            margin: 12px 0;
            justify-content: center;
        }
    }
    
}