  <header class="header">
    <a href="#home" class="logo">Margaux <span>Blanchet</span></a>
    
    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#experience">Mon parcours</a>
      <a href="#hardSkills">Hard skills</a>
      <a href="#softSkills">Soft skills</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
  
  <app-home></app-home>
  <app-parcours></app-parcours>
  <app-hard-skills></app-hard-skills>
  <app-soft-skills></app-soft-skills>
  <app-contacts></app-contacts>
  
  <footer class="footer">
    <div class="social"></div>
  </footer>