  <header class="header-desktop">
    <nav class="navbar" #navBar>
      <a [routerLink]="'home'" routerLinkActive="active">Home</a>
      <a [routerLink]="'hardSkills'" routerLinkActive="active">Compétences</a>
      <a [routerLink]="'projects'" routerLinkActive="active">Projets</a>
      <a [routerLink]="'contacts'" routerLinkActive="active">Contacts</a>
    </nav>
  </header>

  <div class="blurry-circle-1"></div>

  <mat-icon class="chevron-nav chevron-left-nav" (click)="changeSection('forward')">chevron_left</mat-icon>
  <mat-icon class="chevron-nav chevron-right-nav" (click)="changeSection('back')">chevron_right</mat-icon>

  <app-home class="mobile-section-visibility"></app-home>
  <app-hard-skills class="mobile-section-visibility"></app-hard-skills>
  <app-projects class="mobile-section-visibility"></app-projects>
  <app-contacts class="mobile-section-visibility"></app-contacts>

  <router-outlet></router-outlet>
