  <header class="header">
    <nav class="navbar" #navBar>
      <a href="#home" class="active" (click)="toggleNavigation('#home')" #home>Home</a>
      <a href="#hardSkills" (click)="toggleNavigation('#hardSkills')" #hardSkills>Compétences</a>
      <a href="#projects" (click)="toggleNavigation('#projects')" #projects>Projets</a>
      <a href="#contact" (click)="toggleNavigation('#contact')" #contact>Contact</a>
    </nav>
  </header>

  <div class="blurry-circle-1"></div>

  <app-home></app-home>
  <app-hard-skills></app-hard-skills>
  <app-projects></app-projects>
  <app-contacts></app-contacts>

  <footer class="footer">
    <div class="social"></div>
  </footer>
