@import '../assets/variables.scss'; 

/* ==================================== */
/* ===============HEADER=============== */
/* ==================================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 32px;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    
    span {
        text-shadow: 0 0 25px var(--primary);
        color: var(--primary);
    }
    
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
    &:hover{
        color: var(--primary);
        border-bottom: 3px solid var(--primary);
    }
    
    &:active {
        color: var(--primary);
        border-bottom: 3px solid var(--primary);
    }
}

