/* ==================================== */
/* ================HOME================ */
/* ==================================== */
section {
    padding: 13rem 12% 1rem;
}
.home {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    width: 100%;
}

@media only screen and (max-width : 970px) {
    /* Styles */
    .home {
        flex-wrap: wrap;
    }

    .home-content {
        h1 {
            font-size: 6em !important;
            text-align: center;
        }

        h3 {
            font-size: 3em !important;
            text-align: center;
        }
       align-items: center !important;
    }

    .home-img {
        img {
            width: 100% !important;
            margin-top: -18rem;
        }
    }
    }

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-self: center;
    margin-top: 3rem;
    
    padding: 32px;
    
    .open-to-work-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
        
        div {
            margin-left: 12px;
            width: 4px;
            height: 4px;
            background: forestgreen;
            border-radius: 50%;
            box-shadow: 0 0 15px 5px forestgreen
        }
        
        img {
            width: 48px;
            height: 48px;
            border-radius: 4px;
        }
        
        p {
            margin-left: 4px;
            opacity: 0.2;
        }
    }
    
    h3 {
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-size: 3.5rem;
        
    }
    
    h1 {
        font-size: 7rem;
        font-weight: 700;
        margin-top: 1.5rem;
        line-height: 1;
        
        span {
            color: var(--primary);
        }
    }
    
}

.home-img {
    border-radius: 32px;
    //animation: float 6s ease-in-out infinite;
    
    img {
        position: relative;
        top: 3rem;
        width: 20vw;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        padding: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: inset 0 -126px 252px -297px forestgreen
    }
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem
}

.about-me-container {
    margin-top: 10vh;
    border-radius: 32px;
    padding: 5rem;
    background-color: rgba(39, 39, 42,0.50);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
    
}
p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.color-top {
    position: absolute;
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(255,255,255,0.1), var(--background-color));
    top: -570px;
    left: 50%;
    z-index: -1;
}

.color-bottom {
    position: absolute;
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(255,255,255,0.1), var(--background-color));
    bottom: -1000px;
    right: 50%;
    z-index: -1;
}