<section id="home">
  <div class="home">
    <div class="home-content" data-aos="fade-left">
      <div class="open-to-work-container">
        <img src="../../..//public/CV.png"/>
        <div></div>
        <p>En recherche d'emploi</p>
      </div>
      <h1>Margaux Blanchet</h1>
      <h3 class="text-animation">Dévelopeuse FRONT-END</h3>
      
      <div class="btn-group">
        <a href="../../../..//public/Margaux_Blanchet_CV.pdf" target="_blank" class="btn-primary-outlined">Télécharger mon CV<i class='bx bx-download' ></i></a>
        <a href="../../../..//public/Margaux_Blanchet_CV.pdf" target="_blank" class="btn-primary-outlined">Me contacter<i class='bx bxs-contact'></i></a>
      </div>
    </div>
    <div class="home-img" data-aos="fade-right">
      <img src="../../../..//public/CV-transparent.png" alt="cv">
    </div>
  </div>
  
  <div class="about-me-container">
    <p>
      Je m'appelle Margaux, j'ai 29 ans et je suis développeuse spécialisée en front-end applicatif et intégration. Passionnée par mon métier, j'aime relever les défis techniques et explorer de nouvelles approches pour offrir des solutions à la fois esthétiques et fonctionnelles. Ma curiosité m'amène à m'intéresser à une variété de secteurs et à trouver de la motivation dans chaque projet. Naviguer entre différents univers métiers rend mon quotidien toujours plus riche et stimulant !
    </p>
  </div>

  <div class="color-top"></div>
  <div class="color-bottom"></div>
</section>