<section class="home" id="home">
    <div class="home-content" data-aos="fade-left">
      <h1>Salut, c'est <span>Margaux</span></h1>
      <h3 class="text-animation">Je suis <span></span></h3>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam odio, malesuada ac sagittis sit amet, venenatis at dolor. Praesent suscipit enim eu volutpat ultrices. Proin maximus mauris at volutpat finibus. Sed ultricies a augue ac porttitor. Phasellus aliquet malesuada laoreet. Curabitur et cursus risus, sit amet pulvinar ipsum. Etiam molestie rutrum lectus, eget pharetra leo elementum id.
      </p>
      
      <div class="social-icons">
        <a href="#"><i class='bx bxl-linkedin'></i></a>
      </div>
      
      <div class="btn-group">
        <a href="#contact" class="btn-outline">Contact</a>
      </div>
    </div>
    <div class="home-img" data-aos="fade-right">
      <img src="../../../..//public/CV.png" alt="cv" class="effect-3d-static">
    </div>
  </section>