:root {
    --background-color: #080808;
    --background-color-secondary: #131313;
    --background-gradient: linear-gradient(152deg, rgba(62,29,194,1) 0%, rgba(87,40,180,1) 52%, rgba(110,50,167,1) 100%);
    --primary: rgb(112, 51, 169);
    --secondary: #3e1dc1;
    --tertiary: rgb(175, 113, 211);

    --text-color: white;    
    --text-sub: grey;
    --header-bg: white;

    --colorShadeC: rgb(112, 51, 169);
    --colorShadeD: rgba(175, 113, 211);
    --colorShadeE: rgb(255, 255, 255);
}