:root {
    --background-color: rgb(24 24 27);
    --background-color-secondary: #131313;
    --background-gradient: linear-gradient(152deg, rgba(62,29,194,1) 0%, rgba(87,40,180,1) 52%, rgba(110,50,167,1) 100%);
    --primary: black;
    --secondary: #3e1dc1;
    --tertiary: rgb(175, 113, 211);

    --text-color: white;   
    --text-color-hover: black; 
    --text-sub: grey;
    --header-bg: black;

    --colorShadeC: rgb(112, 51, 169);
    --colorShadeD: rgba(175, 113, 211);
    --colorShadeE: rgb(0,0,0);
}