<section class="experience" id="experience">
    <h2 class="heading" data-aos="fade-right">Parcours</h2>
    <p class="heading-sub" data-aos="fade-left">
      Après l'obtention d'un Bac S option SVT en 2012, je me lance d'abord dans une année de Médecine, puis dans une licence de Chimie. C'est lors d'un cours d'informatique que je découvre le HTML et le CSS, et tout de suite je suis fascinée par tout ce qu'il est possible de faire avec juste un langage de balisage et de style. C'est ainsi que je commence à découvrir le joie du code.
    </p>
    
    <div class="timeline-items">
      
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">
          2016-2018
        </div>
        <div data-aos="fade-left">
          <div class="timeline-content effect-3d" (click)="openDialogParcours('BTS')">
            <h3>BTS Service Informatique aux Organisations</h3>
            <h4>AIFCC (Caen)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt doloribus cumque, dolores nulla laborum quidem quos numquam eum itaque!</p>
          </div>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2018-2019</div>
        <div data-aos="fade-right">
          <div class="timeline-content effect-3d" (click)="openDialogParcours('Bachelor')">
            <h3>Bachelor Conception de Système d'Informations</h3>
            <h4>AIFCC (Caen)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt doloribus cumque, dolores nulla laborum quidem quos numquam eum itaque!</p>
          </div>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2019-</div>
        <div data-aos="fade-left">
          <div class="timeline-content effect-3d" (click)="openDialogParcours('Forlabs')">
            <h3>Développeuse Web & Mobile</h3>
            <h4>Forlabs (Saint-Contest)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt doloribus cumque, dolores nulla laborum quidem quos numquam eum itaque!</p>
          </div>
        </div>
      </div>
    </div>
  </section>