
<section class="soft-skills" id="softSkills">
    <div class="soft-skills-box">
      <h2 class="heading" data-aos="fade-right">Soft skills</h2>
      <p class="heading-sub" data-aos="fade-left">
        Après l'obtention d'un Bac S option SVT en 2012, je me lance d'abord dans une année de Médecine, puis dans une licence de Chimie. C'est lors d'un cours d'informatique que je découvre le HTML et le CSS, et tout de suite je suis fascinée par tout ce qu'il est possible de faire avec juste un langage de balisage et de style. C'est ainsi que je commence à découvrir le joie du code.
      </p>
      
      <div class="wrapper">
        @for (softSkill of softSkills; track $index) {
          <div data-aos="flip-right">
            <div class="soft-skill-item effect-3d-static">
              <div class="icon-box">
                <i class='bx bx-message-rounded-detail'></i>
              </div>
              <h2>{{softSkill.title}}</h2>
              <p>{{softSkill.content}}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </section>